@charset 'UTF-8';
@import 'sassConfig';

* {
  outline: none;
<<<<<<< HEAD
  // -moz-user-select: -moz-none;
=======
>>>>>>> dev
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#nprogress .bar {
<<<<<<< HEAD
  background: $defColor6; //Nprogress 自定义颜色
=======
  background: $defColor6;
>>>>>>> dev
  animation: loading 5s ease-out infinite;
}

@keyframes loading {
  0% {
    background-color: $defColor1;
  }

<<<<<<< HEAD
  35%{
    background-color: $defColor3
  }

  55% {
    background-color: $defColor5;
=======
  35% {
    background-color: $defColor3;
  }

  55% {
    background-color: $defColor4;
>>>>>>> dev
  }

  80% {
    background-color: $defColor6;
  }
}