@charset 'UTF-8';
@import 'sassConfig';

.box {
  display: flex;
  height: 90vh;
  width: 100%;
  text-align: left;
  overflow-y: auto;
  // overflow-x: auto;
  width: auto;
}

// .user-avatar {
//   text-align: left;
// }
.detailStyle {
  float: right;
  // left: 50%;
  // transform: translate(-50%);
}