@charset 'UTF-8';
@import 'sassConfig';

@keyframes scaleDraw {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.administrators-card {
  font-size: 1.5vw;
  text-align: center;
}

.administrators-card> :hover {
  animation: scaleDraw 3s ease-out infinite;
}

.administrators-card>.el-avatar--square {
  text-align: center;
}


.top-card-body {
  height: 100%;
  width: auto;

  .el-card {
    margin-bottom: 0;
    padding: 0;
    height: 112px;
  }

  .el-divider {
    margin: 12px 0 12px 0;
  }
}


@keyframes top-card-frames {
  0% {
    background-color: $defColor1;
  }

  50% {
    background-color: $defColor5;
  }

  100% {
    background-color: $defColor1;
  }
}

// .top-left-card> :hover,
// .top-centerRight-card> :hover,
// .top-center-card> :hover,
// .top-centerLeft-card> :hover {
//   animation: top-card-frames 5s ease-out infinite;
// }

.top-right-card {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.top-right-card> :not(#autoClock) {
  padding: 0 auto;
  box-sizing: border-box;
}

// .top-left-card,
// .top-centerLeft-card,
// .top-center-card,
// .top-centerRight-card {
//   padding: 0px;
//   height: 100%;
//   width: auto;
//   box-sizing: border-box;
//   font-size: 1.5vw;
//   display: block;
//   text-align: center;

//   &:div {
//     height: 100%;
//     width: 100%;
//   }
// }



#autoClock {
  display: block;
  font-size: 1.88vw;
  color: white;
  text-shadow: 0px -1px 3px rgba(0, 0, 0, 0.6), 2px -2px 2px rgba(0, 0, 0, 0.7), 4px -2px 4px rgba(0, 0, 0, 0.72), 4px -3px 4px rgba(0, 0, 0, 0.75), 5px -3px 4px rgba(0, 0, 0, 0.5), 6px -3px 2px rgba(0, 0, 0, 0.8);
}

.topUnifyStyle {
  padding: auto;
  box-sizing: border-box;
  height: 100%;

  .icon {
    float: left;
    font-size: 4vw;
    text-align: center;
    height: 100%;
    line-height: 1em;
    width: auto;
    padding: 10px;
  }

  .msg {
    float: none;
    height: 100%;
    text-align: justify;
    width: auto;

    & .title {
      font-size: 1vw;
      display: block;
      line-height: 2em;
      color: #8b9aa1;
    }
  }
}

.el-link--inner {
  color: #409EFF;
  padding-top: 10px;
  font-size: 2vw !important;
}

.content {
  display: block;
}

.el-card__body {
  position: relative;
  display: block;
  max-height: 100%;
}