@charset 'UTF-8';
@import 'sassConfig';

html,
body {
  overflow: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left .el-form-item {
  margin-bottom: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 80px;

  & .el-form-item__label {
    position: relative;
    padding: 0;
    top: 58px;
    left: 12%;
    font-size: 1.3em;
    // font-weight: bold;
    color: rgba(224, 224, 224, 0.959);

  }

  .el-form-item__error {
    position: relative;
    padding: 0;
    top: 9px;
    color: rgba(252, 99, 99, 0.9);
    left: 11%;
    font-weight: bold;
    transition: all ease-in-out .5s;
    font-size: 15px;
    // text-shadow: -1px 1px rgb(148, 5, 5),
    //   1px -1px rgb(148, 5, 5);
  }

  .el-input__validateIcon {
    position: relative;
    padding: 0;
    right: 30%;
  }
}

.logPop {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: transparent !important;
  border: 1px solid rgba(224, 224, 224, 0.959);
  text-align: center;
  letter-spacing: 12px;
  font-size: 1rem !important;
  padding: 8px 0px 8px 12px;

  .popper__arrow {
    border-top-color: rgba(255, 255, 255, .8) !important;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .8) !important;

    &::after {
      border-color: transparent !important;
    }
  }
}

.valiPop {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: transparent !important;
  border: 2px solid rgba(224, 224, 224, 0.959) !important;
  text-align: center;
  // letter-spacing: 12px;
  color: whitesmoke;
  font-size: 15px !important;
  padding: 5px 10px 5px 10px;

  .popper__arrow {
    border-top-color: rgba(233, 227, 227, 0.8) !important;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: rgba(255, 255, 255, .8) !important;

    &::after {
      border-color: transparent !important;
    }
  }
}

// input::-webkit-input-placeholder {
//   color: #c0c4cc;
// }

// input::-moz-input-placeholder {
//   color: #c0c4cc;
// }

// input::-ms-input-placeholder {
//   color: #c0c4cc;
// }

.checkBox {
  color: rgba(255, 255, 255, 0.9);

  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: rgb(15, 15, 15);
    font-weight: bold;
    line-height: 1em;
  }

  .is-checked {
    .el-checkbox__inner {
      border-color: rgba(255, 255, 255, 0.9);
      background: rgba(59, 228, 87, 0.9);
    }
  }
}

.el-form-item.isFocus {
  .el-form-item__label {
    font-size: .9em;
    position: relative;
    padding: 0;
    top: 35px !important;
    left: 12%;
    transition: font-size .2s linear, top .2s linear;
  }
}

.el-form-item.regFocus {
  .el-form-item__label {
    font-size: .9em !important;
    position: relative;
    padding: 0;
    top: 35px !important;
    left: 12%;
    transition: font-size .2s linear, top .2s linear;
  }
}

.fogBtn1 {
  background: transparent !important;
  width: 100%;
}

.fogBtn2 {
  background: transparent !important;
  width: 100%;
}

.fogForm {
  background: rgba(180, 180, 180, 0.2) !important;
  border-radius: 5%;
  border: 1px solid rgba(234, 231, 236, 0.5);

  .el-dialog__title,
  .el-form-item__label {
    color: rgb(230, 226, 223) !important;
  }

  .el-dialog__body {
    padding-bottom: 10px;
  }

  .el-form-item {
    .el-input__inner {
      background: transparent !important;

      &:focus {
        background: rgb(180, 255, 184) !important;
      }
    }
  }
}

.regForm {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -230px;
  margin-left: -200px;
  height: 460px;
  width: 400px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  // animation-delay: all 6s !important;

  // animation:  4s ease-in-out;
  // Special-Effects-Login
  // box-shadow: -8px 8px 6px rgba(88, 88, 88, .5);
  .el-input__count-inner {
    font-size: 16px;
    font-weight: 300;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.76);
    padding: 20px 33px 0 0 !important;
  }

  .el-form-item__error {
    position: relative;
    padding: 0;
    top: 9px;
    color: rgba(252, 99, 99, 0.9);
    left: 11%;
    font-weight: bold;
    transition: all ease-in-out .5s;
    font-size: 15px;
  }

  .el-input__prefix {
    left: 42px;
    top: 19px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.466);
  }

  // .el-icon-circle-close {
  //   // position: absolute;
  //   // padding: 0;
  //   // top: 5px;
  //   // right: 50%;
  //   // // left: 25%;
  //   // font-weight: bold;
  //   // transition: all ease-in-out .5s;
  //   // font-size: 15px;
  //   // z-index: 100;
  // }
  .el-input .el-input__clear {
    font-size: 20px;
    font-weight: 300;
    background: transparent;
    color: rgba(255, 255, 255, 0.76);
    padding: 14px 30px 0 0;
  }

  .el-input-group__prepend {
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.466);
    padding: 20px 10px 0 28px;
    font-size: 25px;
  }

  .el-input-group__append {
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.466);
    padding: 20px 0 0 0;
    font-size: 25px;
  }

  .el-form-item__content {
    top: 0px;
    margin: 20px 0 0 0;
    height: 20px;
    box-sizing: border-box;
  }

  .el-form-item {
    margin-bottom: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 80px;

    .el-form-item__label {
      position: relative;
      padding: 0;
      top: 58px;
      left: 12%;
      font-size: 1.3em;
      color: rgba(224, 224, 224, 0.959);
    }
  }

  .el-form-item__content {
    height: 60px !important;
  }

  .el-input__inner {
    position: relative;
    font-size: 1.3em;
    text-indent: 2%;
    color: rgba(224, 224, 224, 0.959);
    background-color: transparent;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(48, 39, 39, 0.432);
    padding: 0 0 0 3px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px 0 0 0;
    left: 10%;
    width: 80%;

    &:focus {
      outline: none;
      border-color: rgba(224, 224, 224, 0.959);
    }

    &:hover {
      outline: none;
      border-bottom: 2px solid rgba(224, 224, 224, 0.959);
    }
  }


  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -200px;
    height: 460px;
    width: 400px;
    border: 1px solid rgba(228, 221, 221, .5);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgba(119, 117, 117, 0.253);
    // background-color: rgba(255, 255, 255, 0.253);
    filter: blur(1px);
  }

  &>.el-form {
    margin: 10px 10px 20px 10px;

  }
}

.regBtnGroup {
  position: absolute;
  display: block;
  text-align: center;
  width: 80%;
  margin: 50px 0 0 40px;

  .el-button {
    width: 50%;
  }
}

// .valiBtn.

.left .el-input__inner {
  position: relative;
  font-size: 1.3em;
  text-indent: 2%;
  color: rgba(224, 224, 224, 0.959);
  background-color: transparent;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(48, 39, 39, 0.432);
  padding: 0 0 0 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px 0 0 0;
  left: 10%;
  width: 80%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: rgba(224, 224, 224, 0.959);
    // animation: btColor 4s linear infinite;
  }

  &:hover {
    outline: none;
    border-bottom: 2px solid rgba(224, 224, 224, 0.959);
  }
}

.forget {
  .el-link--inner {
    color: rgb(255, 255, 255) !important;
    padding-top: 1px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    // transition: all ease-in-out .5s;

    &:visited {
      color: rgb(0, 0, 0) !important;
      transition: all ease-in-out .5s;
    }

    &:hover {
      transform: scale(1.2);
      font-weight: 800 !important;
      color: #409EFF !important;
      transition: all ease-in-out .5s;
    }

    &:active {
      color: rgb(249, 252, 228) !important;
      transition: all ease-in-out .5s;
    }
  }

}

.valiCode {
  font-size: 1.3em;
  color: rgb(255, 249, 249);
  background-color: transparent;
  border-top-style: none;
  border-left-style: none;
  background-size: 400%;
  border-right-style: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(48, 39, 39, 0.432);
  padding: 0 0 0 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px 0 20px 0;
  width: 60%;
}

.valiInput {
  .el-input__validateIcon {
    display: none;
  }
}

.left .el-input__count-inner {
  font-size: 16px;
  font-weight: 300;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.76);
  padding: 20px 33px 0 0 !important;
}

.left .el-input__prefix {
  left: 42px;
  top: 19px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.466);
}

.left .el-input .el-input__clear {
  font-size: 20px;
  font-weight: 300;
  background: transparent;
  color: rgba(255, 255, 255, 0.76);
  padding: 14px 30px 0 0;
}

.left .el-input-group__prepend {
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.466);
  padding: 20px 10px 0 28px;
  font-size: 25px;
}

.left .el-input-group__append {
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.466);
  padding: 20px 0 0 0;
  font-size: 25px;
}

.left .el-form-item__content {
  top: 0px;
  margin: 20px 0 0 0;
  height: 20px;
  box-sizing: border-box;
}

@keyframes btnBg {
  0% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)8%, rgba(81, 173, 248, 0.822)33%, rgba(123, 72, 182, 0.845), rgba(255, 30, 86, 0.767)76%, rgba(250, 120, 60, 0.87)100%);
  }

  12% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)6%, rgba(81, 173, 248, 0.842)25%, rgba(123, 72, 182, 0.865), rgba(255, 30, 86, 0.787)84%, rgba(250, 120, 60, 0.87)100%);
  }

  24% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)4%, rgba(81, 173, 248, 0.862)17%, rgba(123, 72, 182, 0.885), rgba(255, 30, 86, 0.807)92%, rgba(250, 120, 60, 0.87)100%);
  }

  36% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)2%, rgba(81, 173, 248, 0.862)9%, rgba(123, 72, 182, 0.885), rgba(255, 30, 86, 0.807)100%, rgba(250, 120, 60, 0.87)100%);
  }

  50% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)2%, rgba(81, 173, 248, 0.902)2%, rgba(123, 72, 182, 0.925), rgba(255, 30, 86, 0.847)108%, rgba(250, 120, 60, 0.87)100%);
  }

  64% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)2%, rgba(81, 173, 248, 0.862)9%, rgba(131, 79, 180, 0.885), rgba(255, 30, 86, 0.807)100%, rgba(250, 120, 60, 0.87)100%);
  }

  86% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)4%, rgba(81, 173, 248, 0.862)17%, rgba(123, 72, 182, 0.885), rgba(255, 30, 86, 0.807)92%, rgba(250, 120, 60, 0.87)100%);
  }

  98% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)6%, rgba(81, 173, 248, 0.842)25%, rgba(123, 72, 182, 0.865), rgba(255, 30, 86, 0.787)84%, rgba(250, 120, 60, 0.87)100%);
  }

  100% {
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)8%, rgba(81, 173, 248, 0.822)33%, rgba(123, 72, 182, 0.845), rgba(255, 30, 86, 0.767)76%, rgba(250, 120, 60, 0.87)100%);
  }
}

.regBtn {
  display: block;
  color: rgba(245, 245, 245, 0.911);
  font-size: 1.05em;
  border: transparent;
  width: 85%;
  margin: 5px 0 0 30px;
  // background-image: linear-gradient(to right, rgba(81, 173, 248, 0.822)23%, rgba(217, 74, 253, 0.822) 66%, rgba(255, 30, 86, 0.767) 100%);
  background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)8%, rgba(81, 173, 248, 0.822)33%, rgba(123, 72, 182, 0.845), rgba(255, 30, 86, 0.767)76%, rgba(250, 120, 60, 0.87)100%);

  &:focus {
    color: rgba(39, 58, 73, 0.822);
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)8%, rgba(81, 173, 248, 0.822)33%, rgba(123, 72, 182, 0.845), rgba(255, 30, 86, 0.767)76%, rgba(250, 120, 60, 0.87)100%);
  }

  &:hover {
    color: rgba(245, 46, 46, 0.911);
    animation: btnBg ease-in-out .8s;
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)8%, rgba(81, 173, 248, 0.822)33%, rgba(123, 72, 182, 0.845), rgba(255, 30, 86, 0.767)76%, rgba(250, 120, 60, 0.87)100%);
  }

  &:active {
    color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(35deg, rgba(70, 248, 210, 0.863)8%, rgba(81, 173, 248, 0.822)33%, rgba(123, 72, 182, 0.845), rgba(255, 30, 86, 0.767)76%, rgba(250, 120, 60, 0.87)100%);
  }
}

@keyframes btColor {
  0% {
    border-color: rgba(240, 115, 115, 0.5);
  }

  25% {
    border-color: rgba(248, 227, 41, 0.5);
  }

  50% {
    border-color: rgba(76, 238, 176, 0.5);
  }

  75% {
    border-color: rgba(248, 227, 41, 0.59);
  }

  100% {
    border-color: rgba(240, 115, 115, 0.5);
  }

}
