@charset 'UTF-8';
@import 'sassConfig';

.main {
  /* background-color: rgba(11, 111, 1, 0.5); */
  height: auto;
  box-sizing: border-box;
  width: auto;
  outline: none;
}

.tabStyle{
  background: #fafafa;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}