@charset 'UTF-8';
@import 'sassConfig';

#Nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    font-size: 30px;
    top: 0;
    left: 0;
    text-align: center;
    align-content: center;
    /* opacity: 0.5;
      filter: alpha(opacity=50) */ }
  
  .el-menu > * {
    border-bottom-width: 0px !important;
    height: 80px !important; }
  
  .el-menu-item {
    line-height: 79px !important; }
  
  .el-submenu {
    line-height: 79px !important; }
  
  .el-avatar + .avatar-badge {
    position: absolute; }
  
  .avatar-badge {
    right: 28%;
    top: 69%; }
  