@charset 'UTF-8';
@import 'sassConfig';

.Nav {
  outline: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100vw;
  position: fixed;
  z-index: 100;
  font-size: 30px;
  top: 0;
  left: 0;
  text-align: center;
  align-content: center;
  /* opacity: 0.5;
      filter: alpha(opacity=50) */
}

.navNameLink {
  // color: #909399 !important;
  margin-top: 31px !important;
  color: rgba(255, 255, 255, .8);
  font-size: 20px !important;

}

.exitBtn {
  background: #F56C6C !important;
}

.weather {
  background: transparent !important;
  height: 79px;
  line-height: 79px;
  text-align: center;
  :nth-child(1){
    :nth-last-child(1){
      position: relative !important;
    }
  }
}

.logOutBtn {
  background: transparent !important;
  margin: 27px 0 0 0;
  width: 38px;
  height: 38px;
  color: rgba(255, 255, 255, .8);
  border-color: rgba(255, 255, 255, .7) !important;
  text-align: center;
  font-size: 13px;
  transition: .4s ease-in-out;
  box-sizing: border-box;

  &:hover {
    color: rgb(250, 112, 112);
    box-shadow: 0 0 10px rgb(250, 112, 112),
      1px 0 2px rgb(250, 112, 112),
      0 1px 2px rgb(250, 112, 112),
      -1px 0px 2px rgb(250, 112, 112),
      0 -1px 2px rgb(250, 112, 112);
    border-color: rgb(250, 112, 112) !important;
    transition: .4s ease-in-out;
  }

  &:active {
    color: rgb(255, 255, 255);
    background: rgba(250, 112, 112, .5) !important;
    box-shadow: none;
    // 0 0 1px rgba(250, 112, 112, .5),
    // 1px 0 1px rgba(250, 112, 112, .5),
    // 0 1px 1px rgba(250, 112, 112, .5);
    border-color: rgba(250, 112, 112, .5) !important;
    transition: .4s ease-in-out;
  }

}

.navConsole {
  background: transparent !important;
  margin: 27px 0 0 0;
  width: 38px;
  height: 38px;
  color: rgba(255, 255, 255, .8);
  border-color: rgba(255, 255, 255, .7) !important;
  text-align: center;
  font-size: 13px;
  transition: .4s ease-in-out;
  box-sizing: border-box;

  &:hover {
    color: rgba(64, 217, 255, 0.9);
    box-shadow: 0 0 8px rgb(64, 217, 255),
      1px 0 2px rgb(64, 217, 255),
      0 1px 2px rgb(64, 217, 255),
      -1px 0px 2px rgb(64, 217, 255),
      0 -1px 2px rgb(64, 217, 255);
    border-color: rgb(64, 217, 255) !important;
    transition: .4s ease-in-out;
  }

  &:active {
    color: rgb(255, 255, 255);
    background: rgba(64, 217, 255, 0.5) !important;
    box-shadow: none;
    border-color: rgba(64, 217, 255, 0.5) !important;
    transition: .4s ease-in-out;
  }

}

.siteSymbol {
  background: transparent;
  border-radius: 22px;
  box-sizing: border-box;
  margin: 13px 0 13px 0;
  width: 220px;
  background-size: 400%;
  transition: 1s ease-in-out;
  animation: Slide 1.5s linear alternate-reverse infinite;

  &:hover {
    // box-shadow: 0 0 1px rgba(255, 255, 255, .1),
    // 1px 0 10px rgb(255, 106, 106),
    // -1px 0 10px rgb(116, 106, 255),
    // 0 1px 10px rgb(106, 188, 140),
    // 0 -1px 10px rgb(255, 228, 106);

    &::before {
      transform-origin: 63%;
      background: rgba(255, 255, 255, .3);
      transition: 1.5s ease-in-out;
    }

    &::after {
      transform-origin: 29%;
      background: rgba(255, 255, 255, .3);
      transition: 1.5s ease-in-out;
    }
  }

  &::before {
    content: "";
    border-radius: 22px;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: skewY(77deg);
    transform-origin: 0%;
    background: transparent;
    transition: 1.5s ease-in-out;
  }

  &::after {
    content: "";
    border-radius: 22px;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-78deg);
    transform-origin: 100%;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: 1.5s ease-in-out;
  }
}

@keyframes Slide {
  0% {
    filter: hue-rotate(175deg);
  }

  49% {
    filter: hue-rotate(1deg);
  }

  50% {
    filter: hue-rotate(0deg);
  }

  51% {
    filter: hue-rotate(1deg);
  }

  100% {
    filter: hue-rotate(175deg);

  }
}

.el-menu>* {
  border-bottom-width: 0px !important;
  height: 80px !important;
}

.el-menu-item {
  line-height: 79px !important;
}

.el-submenu {
  line-height: 79px !important;
}

.el-avatar+.avatar-badge {
  position: absolute;
}

.avatar-badge {
  right: 28%;
  top: 69%;
}
