@charset 'UTF-8';
@import 'sassConfig';

.loadingCard {
  display: block;
  max-height: 100%;
  text-align: center;
  padding: 10px;
  // margin: 0 0 0 28px;
  border: none;
}

.topBtn {
  display: flex;
  text-align: start;
  border: none;
  // text-indent: 28px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(1, 11, 1, .2);
  border-radius: 0;
}

.timeLine {
  height: 450px;
  overflow: auto;
}