@charset 'UTF-8';
@import 'sassConfig';

.reqForm {
  text-align: left;
}

.transferCss {
  // display: inline-block
}

.dialog {
  overflow-y: auto;
}

.drawerFooter {
  width: 100%;
  display: block;
}

