@charset 'UTF-8';

$defColor1: white;
$defColor2: rgba(255, 235, 205, 0.959);
$defColor3: rgba(113, 238, 190, 0.897);
$defColor4: rgba(252, 164, 81, 0.856);
$defColor5: rgba(146, 202, 212, 0.507);
$defColor6: rgba(252, 48, 41, 0.596);
$navheight: 80px;
$nprogress-color: linear-gradient(35deg, rgba(70, 248, 210, 0.6)2%, rgba(81, 173, 248, 0.6)13%, rgba(123, 72, 182, 0.6), rgba(255, 30, 86, 0.6)76%, rgba(250, 120, 60, 0.6)100%);
$divBorderColor: rgba(64, 160, 255, 0.5);