@charset 'UTF-8';

$defColor1: white;
$defColor2: rgba(255, 235, 205, 0.959);
$defColor3: rgba(113, 238, 190, 0.897);
$defColor4: rgba(252, 164, 81, 0.856);
$defColor5: rgba(146, 202, 212, 0.507);
$defColor6: rgba(252, 48, 41, 0.596);
$navheight: 80px;
::-webkit-scrollbar {
  /*血槽宽度*/
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb {
  /*拖动条*/
  background-color: rgba(0, 0, 0, .6);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  /*背景槽*/
  // background-color: rgba(0, 0, 0, .1);
  border-radius: 5px;
}