@charset 'UTF-8';
@import 'sassConfig';

#side {
  display: block;
  max-width: 30vh;
  min-width: fit-content;
  height: 100%;
  width: fit-content;
  text-align: left;
  /* background-color: #091057; */
  background-color: rgba(9, 10, 57, 1);

  .el-menu {
    border-right: none;
  }

  .el-submenu {
    text-align: left;

    i {
      color: rgb(144, 147, 153);
    }

    .el-submenu__title {
      &::before {
        content: '';
        position: absolute;
        height: 100%;
        right: 0;
        transform: scaleY(0);
        border-right: 3px solid transparent;
        transition: .35s ease-in-out;
      }

      &:hover {
        background-color: rgba(196, 202, 202, 0.5) !important;

        &::before {
          border-right-color: goldenrod;
          transform: scaleY(1);
          transition: .35s ease-in-out;
        }
      }
    }
    &.is-active {
      .el-submenu__title {
        :nth-child(1) {
          color: #ffd04b !important;
        }
        :nth-child(2){
          color: #ffd04b !important;
        }
      }
    }
  }
}

.el-menu-item {
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    right: 0;
    transform: scaleY(0);
    border-right: 3px solid transparent;
    transition: .35s ease-in-out;
  }

  &:hover {
    background-color: rgba(196, 202, 202, 0.5) !important;

    &::before {
      border-right-color: goldenrod;
      transform: scaleY(1);
      transition: .35s ease-in-out;
    }
  }
}

.el-menu-item-group__title {
  display: none;
}

@keyframes rightBorderScale {
  from {
    transform-origin: center center;
    border-right-color: goldenrod;

  }

  to {
    height: 100%;
    border-right-color: goldenrod;
  }
}



// .el-submenu {
//   text-align: left;

//   i {
//     color: rgb(144, 147, 153) !important;
//   }

//   .el-submenu__title:hover {
//     background-color: rgba(196, 202, 202, 0.5) !important;
//   }

//   // .el-menu-item:hover {
//   //   border-right: 2px solid#ffd04b !important;
//   // }
//   &:has(.el-menu-item.is-active) {
//     color: #ffd04b !important;

//     i {
//       color: #ffd04b !important;
//     }
//   }
// }

// .el-submenu.is-active {
//   color: #ffd04b !important;

//   .el-submenu__title {
//     color: #ffd04b !important;
//   }
// }

// .el-submenu.is-active.is-opened {
//   &>.el-submenu__title {
//     color: #ffd04b !important;

//     i {
//       color: #ffd04b !important;
//     }
//   }
// }

// .el-submenu .is-opened {
//   background-color: rgba(111, 111, 111, 0.8) !important;
// }

/* border-right-color: rgba(255, 208, 75, 0.8) !important; */
.el-menu--collapse {
  width: 70px;

}

// #side .el-menu {
//   border-right: 2px solid#ffd04b !important;
// }

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 30vh;
  min-height: 400px;
  overflow: hidden;
  // .el-submenu:hover {
  // border-right: 2px solid#ffd04b !important;
  // }
}

// .el-menu>.el-menu-item .is-active {
//   border-right-color: rgba(216, 22, 22, 0.8) !important;
//   outline-color: rgba(216, 22, 22, 0.8) !important;
// }

.el-menu .el-divider {
  box-sizing: border-box;
  margin: 1px 0 0 0;
  background-color: rgb(96, 96, 143);
}