@charset 'UTF-8';
@import 'sassConfig';

[v-cloak] {
  display: none;
}

html,
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.temp {
  /* min-height: 60vh; */
  height: fit-content;
}

.demo-form-inline {
  //   width: 100%;
  background-color: #f2f2f2;
  // line-height: 100px;
  //   // max-height: fit-content;
  min-height: auto;
  text-align: left;
  padding: 30px 10px 10px 10px;
  box-sizing: border-box;
}

// .el-table {
//   display: block;
//   height: auto;
// }

.demo-table-expand {
  color: #8996a8 !important;
  background: #f2f2f2;
  padding: 0 30px;
  font-size: 0;
  transition: .5s .1s ease-in-out;
  &:hover {
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.8);
    transform: scale(1.02);
  }
}

// .demo-table-expand label {
//   width: 90px;
//   color: #99a9bf;
// }

.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}